@use "colors";
@use "mixIn";

body {
  @include mixIn.create_contents_container(100%, 100%);
  overflow-x: hidden;
}

section {
  @include mixIn.flex_basic_layout();
  @include mixIn.create_contents_container(100vw, 100vh);
  background-color: colors.$color_black;
  // *.dt_number
  div:first-child {
    @include mixIn.create_contents_container(80vw, 80vh);
    background-color: colors.$color_light_gray;
  }
}
